@font-face {
    font-family: irsans;
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
     src: url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
          url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'), /* Pretty Modern Browsers */
          url('../fonts/ttf/IRANSansWeb(FaNum).ttf')  format('truetype');
}

h1,h2,h3,h4,h5,h6,div,span,input,label,textarea,button,tr,td,option,select,th,a{
    font-family: irsans !important;
}
#auth_logo{
    display: block;
    margin: 0px auto;
}
.instagram-btn{
    background: #517fa6;
    border-color: #456b8e;
}
.instagram-btn i{
    font-size: 19px;
    margin-top: 2px;
    position: absolute;
}
.instagram-btn:hover{
    background: #456b8e;
}
p,input,textarea,label,th,td{
    direction: rtl;
    text-align: justify;
}
table.dataTable th{
    padding-right: 5px;
}
.pgn-circle .alert > div > div.pgn-message > div p:only-child{
    font-size: 12px;
}
.pgn-thumbnail i{
    font-size: 25px;
    padding: 11px;
}
.nav-tabs-linetriangle{
    padding-right: 0px;
}
.nav-tabs > li{
    float: right;
}
#mainTable_wrapper > .row > .col-sm-6{
    float: left
}
.dataTables_length{
    text-align: left;
    float: left;
}
.buttons-html5{
    margin-left: 10px;
    margin-bottom: 20px;
}
.dataTables_length select{
    padding: 0;
    padding-right: 10px
}
#mainTable_filter input{
    margin-right: 10px;
}
#mainTable_paginate > ul {
    direction: ltr;
}
#mainTable_paginate .disabled{
    display: none
}
body.menu-pin .page-sidebar{
    width: 260px;
}
.page-sidebar .sidebar-menu .menu-items > li > a > .title{
    width: 95%
}
body.menu-pin .page-container .page-content-wrapper .footer{
    right: 260px;
}
body.menu-pin .page-container .page-content-wrapper .content{
    padding-right: 260px;
}
.highlight-button i{
    font-size: 18px;
}